#container {
    height: 900px;
    display: flex;
}

#left-canvas {
    height: 100%;
    width: 600px;
}

#right-tools {
    height: 100%;
    width: 300px;
    padding-left: 1%;
}

.height-slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 10px;
    height: 50%;
    position: relative;
    top: -50.7%;
    color: black;
}

#log-div {
    height: 25%;
    border-left: 2px solid black;
    margin-top: -2px;
}

#log {
    height: 96%;
    width: 96%;
    border-width: 0px;
    padding: 2%;
    resize: none;
    outline: none;
}

#music-ctrl {
    height: 25%;
    width: 100%;
    display: flex;
    margin-top: 2px;
    overflow-y: scroll;
}

#music-list {
    height: 100%;
    width: 70%;
    /*float: left;*/
    border-left: 2px solid lightskyblue;
}

.song {
    padding: 10px;
    cursor: pointer;
    height: 6%;
}

.song.active {
    background: cyan;
}

#music-upload {
    outline: none;
    width: 100%;
    padding: 10px;
}

#music-list :hover {
    background: lightcyan;
}

#ctrl-list {
    height: 100%;
    width: 30%;
}

.ctrl-sel {
    display: flex;
    height: 15%;
}

.ctrl-item {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.ctrl-item.inactive {
    cursor: default;
    background: white;
}

.ctrl-item.c0 {
    background: #ffeeee;
}

.ctrl-item.active.c0 {
    background: #ff5555;
}

.ctrl-item.c1 {
    background: #ffffee;
}

.ctrl-item.active.c1 {
    background: #ffff55;
}

.ctrl-item.c2 {
    background: #eeffee;
}

.ctrl-item.active.c2 {
    background: #55ff55;
}

.ctrl-item.c3 {
    background: #eeeeff;
}

.ctrl-item.active.c3 {
    background: #5555ff;
}

.ctrl-sel :hover {
    background: darkgrey;
}