.height-slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 10px;
    height: 450px;
    position: relative;
    top: -455px;
    color: black;
}

#music-ctrl {
    height: 225px;
    display: flex;
}

#music-list {
    height: 100%;
    width: 70%;
    /*float: left;*/
    border-left: 2px solid lightskyblue;
}

.song {
    padding: 10px;
    cursor: pointer;
}

.song.active {
    background: cyan;
}

#music-list :hover {
    background: lightcyan;
}

#ctrl-list {
    height: 100%;
    width: 30%;
}

.ctrl-sel {
    display: flex;
}

.ctrl-item {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.ctrl-item.inactive {
    cursor: default;
    background: white;
}

.ctrl-item.c0 {
    background: #ffeeee;
}

.ctrl-item.active.c0 {
    background: #ff5555;
}

.ctrl-item.c1 {
    background: #ffffee;
}

.ctrl-item.active.c1 {
    background: #ffff55;
}

.ctrl-item.c2 {
    background: #eeffee;
}

.ctrl-item.active.c2 {
    background: #55ff55;
}

.ctrl-item.c3 {
    background: #eeeeff;
}

.ctrl-item.active.c3 {
    background: #5555ff;
}

.ctrl-sel :hover {
    background: darkgrey;
}